<div class="admin-page">
  <p-card header="Buyers" subheader="List of all buyers">
    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="users"
        [paginator]="true"
          [rows]="2"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[5,10,20]"
          >
          <!-- styleClass="p-datatable-gridlines" -->
          <!-- <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Buyers
                <p-button icon="pi pi-refresh"></p-button>
            </div>
          </ng-template> -->
          <ng-template pTemplate="header" let-columns>
              <tr>
                <th>Profile Image</th>
                <th>Username</th>
                  <th>Email</th>
                  <th>Phone number</th>
                  <th>Url</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
              <tr *ngIf="!user.isVendor" routerLink="/userprofile" (click)="getUser(user.id)">
                <td><p-image src="{{user.profileImage}}" alt="Image" width="46px" height="25px"  [preview]="true"></p-image></td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.companyUrl}}</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                <!-- In total there are {{vehicle ? vehicle.length : 0 }} products. -->
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
