<app-topbar></app-topbar>
<div class="mt-8 pt-5">
  <div class="p-col-12 mb-2">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-search"></i>
      </span>
      <input pInputText type="text" class="p-inputtext-sm" placeholder="Search" [(ngModel)]="searchText"  />
    </div>
  </div>
  <div class="card flex mb-3">
    <p-table [value]="vehicles" >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Vehicles
            <p-button icon="pi pi-refresh"></p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>Year</th>
              <th>Make</th>
              <th>Model</th>
              <th>Image</th>
              <th>Price</th>
              <th>Color</th>
              <th>Mileage</th>
              <th></th>
              <th></th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vehicle>
          <tr *ngIf="vehicle.isVerified" routerLink="/view" (click)="getVehicle(vehicle.id)">
              <td>{{vehicle.yearOfManufacture.split('-')[0]}}</td>
              <td>{{vehicle.make}}</td>
              <td>{{vehicle.model}}</td>
              <td><p-image src="{{vehicle.image}}" alt="Image" width="138px" height="75px" [preview]="true"></p-image></td>
              <td>{{vehicle.price | currency:'Ksh. ':'symbol':'1.0-0' }}</td>
              <td>{{vehicle.color}}</td>
              <td>{{vehicle.mileage| number: '1.0-0' }} KM</td>

          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            <!-- In total there are {{vehicle ? vehicle.length : 0 }} products. -->
        </div>
      </ng-template>
    </p-table>
</div>
</div>
<app-footer></app-footer>
