<ul class="layout-menu">
  <h4>ADMIN NAVIGATOR</h4>
  <p-divider></p-divider>
  <p routerLink="/"><i class="pi pi-home"></i>  Dashboard</p>
  <p routerLink="/vendors"><i class="pi pi-user"></i>  Vendors</p>
  <p routerLink="/buyers"><i class="pi pi-users"></i>  Buyers</p>
  <p routerLink="/vehicles"><i class="pi pi-car"></i>  Vehicles</p>

  <ng-container *ngFor="let item of model; let i = index;">
      <li app-menuitem *ngIf="!item.separator"></li>
      <li *ngIf="item.separator" class="menu-separator"></li>
  </ng-container>
  <!-- <li>
      <a href="https://www.primefaces.org/primeblocks-ng/#/">[item]="item" [index]="i" [root]="true"
          <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'banner-primeblocks' : 'banner-primeblocks-dark'}}.png" alt="Prime Blocks" class="w-full mt-3"/>
      </a>
  </li> -->
</ul>
