* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: auto;
    // padding: 0px 0px 0px 100px;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    height: 100%;
}

.mid-display {
  padding-right: 100px !important;
}
.profile-display{
  padding: 0px 200px 0px 200px;
}

fieldset {
  display: block;
  margin-inline-start: -5.5px;
  margin-inline-end: -5.5px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}
.profile-picture{
  // border-radius: 50%;
  max-width: 260px;
  // width: auto;
  height: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}
// .admin-page{}
.d-item{
  display: flex;
  text-align: center;
  color: var(--surface-0);
  justify-content: space-between;

  .pi{
    font-size: 3em;
    margin-bottom: 15px;
  }

  .name{
    font-size: 1em;
  }

  .number{
    font-size: 3em;
    float: right;
  }
}

.d-verified{
  background-color: #dadafc;
  background-image: linear-gradient(147deg, #dadafc 8%, #4547a9 74%);
}
.d-notverified{
  background-color: #22c55e;
  background-image: linear-gradient(147deg, #caf1d8 8%, #22c55e 74%);
}
.d-vendor{
  background-color: #ffaca7;
  background-image: linear-gradient(147deg, #ffaca7 8%, #ff2525 74%);
}
.d-buyer{
  background-color: #c3edf5;
  background-image: linear-gradient(147deg, #c3edf5 8%, #326fd1 74%);
}

@media (max-width: 991px) {
  .d-item{
    display: flex;
    text-align: left;
    color: var(--surface-0);
    justify-content: space-between;

    .pi{
      font-size: 1.5em;
      margin-bottom: 15px;
    }

    .name{
      font-size: 0.5em;
    }

    .number{
      font-size: 1.5em;
      float: right;
    }
  }
}
