<div class="admin-sidebar mt-2">
  <div class="logo">
    <img src="assets/layout/images/garimax-logo2.png"  alt="logo" width="75px" height="45px">
    <!-- <span class="links" routerLink="/dashboard">GARIMAX</span> -->
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/userprofile"  (click)="getUser(userId)"><i class="pi"></i> <strong>Hello! {{ username ? username: '' }}</strong></a>
      </li>
      <li>
        <a routerLink="/dashboard"><i class="pi pi-home"></i> Dashboard</a>
      </li>
      <li>
        <a routerLink="/vendors"><i class="pi pi-user"></i> Vendors</a>
      </li>
      <li>
        <a routerLink="/buyers"><i class="pi pi-users"></i> Buyers</a>
      </li>
      <li>
        <a routerLink="/vehicles"><i class="pi pi-car"></i> Vehicles</a>
      </li>
      <li>
        <a routerLink="/verifiedvehicles"><i class="pi pi-check-circle"></i> Verified Vehicles</a>
      </li>
      <li *ngIf="userId">
        <a class="logout" (click)="logOut()"><i class="pi pi-sign-out"></i> Logout</a>
      </li>
      <li *ngIf="!userId">
        <a class="logout" routerLink="/login"><i class="pi pi-sign-in"></i> Login</a>
      </li>
    </ul>
  </div>
</div>
