<div class="admin-sidebar mt-2">
  <div class="logo">
    <img src="assets/layout/images/garimax-logo2.png"  alt="logo" width="75px" height="45px">
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="/dashboard"><i class="pi pi-home"></i> Dashboard</a>
      </li>
      <li>
        <a routerLink="/vendors"><i class="pi pi-user"></i> Vendors</a>
      </li>
      <li>
        <a routerLink="/buyers"><i class="pi pi-users"></i> Buyers</a>
      </li>
      <li>
        <a routerLink="/vehicles"><i class="pi pi-car"></i> Vehicles</a>
      </li>
      <li>
        <a routerLink="/verifiedvehicles"><i class="pi pi-check-circle"></i> Verified Vehicles</a>
      </li>
      <li>
        <a routerLink="/" class="logout"><i class="pi pi-sign-out"></i> Logout</a>
      </li>
    </ul>
  </div>
</div>
