<p>Dashboard works!</p>
<div class="formgroup-inline">
<div class="card col-3 md:col-3 lg:col-3" style="background-color: lightskyblue; color: white;">
  Verified Vehicles
  <p-divider></p-divider>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam ut eligendi corrupti, adipisci, illum optio laborum, quae consequuntur eos obcaecati inventore. Vero, reprehenderit? Tempora corporis illum qui consectetur saepe doloremque.</p>
</div>
<div class="card col-3 md:col-3 lg:col-3" style="background-color: lightgreen; color: white;">
  Vehicles waiting to be verified
  <p-divider></p-divider>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic repellendus natus similique temporibus, optio consequuntur perferendis. Maxime nisi adipisci fugiat voluptate corporis! Asperiores velit illo optio incidunt ab vel nobis.</p>
</div>
<div class="card col-3 md:col-3 lg:col-3" style="background-color: lightsalmon; color: white;">
  Buyers
  <p-divider></p-divider>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non officia iure nostrum, laboriosam placeat explicabo adipisci, perspiciatis corporis, veritatis voluptatum iusto possimus! Sequi quo quos quis, officia vero deserunt! Iusto?</p>
</div>
<div class="card col-3 md:col-3 lg:col-3" style="background-color: lightcoral; color: white;">
  Vendors
  <p-divider></p-divider>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam obcaecati officiis amet hic, tenetur debitis officia! Fugit, rem ducimus. Sapiente fugit ea iste temporibus debitis quia repudiandae mollitia ad architecto.</p>
</div>
<!-- <div class="card"></div>
<div class="card"></div>
<div class="card"></div> -->
</div>
